.primary-background {
  background: #fceae8;
}

.button-text-color {
  color: #ff136f;
}

.buy-now-button {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
  text-decoration: none;
}

.watch-background {
  background: orange;
}

.bag-background {
  background: orchid;
}

.shoes-background {
  background: blue;
}
